/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: var(--color-pink-2, #f1b2ce);
  --decoration-color: var(--color-purple-1, #db00ff);
  --menu-color: var(--color-purple-2, #ff0070);
  --accent-color: var(--color-purple-2, #ff0070);
  --title-color:var(--color-purple-2, #ff0070);
  --description-color: var(--color-purple-2, #ff0070);
  --description-title-color: var(--color-black-1, #000028);
  --section-title-color: var(--color-purple-2, #ff0070);

  --font-family: "IBM Plex mono", sans-serif;
  --page-background-image: url("../images/cover-image-dark.png");
  --page-background-color: var(--color-black-1, #000028);

  --record-decor-visibility: visible;
}
