.page {
  background-color: var(--page-background-color, #fff1f7);
  color: var(--text-color, #353430);
  background-image: var(
    --page-background-image,
    url(../images/cover-image.png)
  );
  font-size: 18px;
  line-height: 23.4px;
  font-family: var(--font-family, "IBM Plex mono", monospace);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

/* header */

.header {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: start;
  gap: 10px;
  block-size: max(100vh, 668px);
}

.header__decorated-zone {
  position: relative;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-block-start: 20px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color: #353430;
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  padding-inline: 13px;
  background-color: transparent;
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--menu-color, #353430);
  border: none;
}

.header__decorated-zone::before,
.header__decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.header__decorated-zone::before {
  border-inline-end: 1px solid var(--decorated-zone-color, #353430);
  border-block-start: 1px solid var(--decorated-zone-color, #353430);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__decorated-zone::after {
  border-inline-start: 1px solid var(--decorated-zone-color, #353430);
  border-block-end: 1px solid var(--decorated-zone-color, #353430);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color, #353430);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color, #32312d66);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-focus-color, #353430);
}

.record-decor {
  position: absolute;
  visibility: var(--record-decor-visibility, hidden);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 30px;
  inset-block-start: 20px;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.record-decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
  font-family: var(--font-family);
}

.record-decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.decoration {
  font-family: var(--font-family, "IBM Plex mono", monospace);
  font-size: 157px;
  font-weight: 700;
  line-height: 129px;
  align-self: center;
  justify-self: start;
  color: var(--decoration-color);
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.description_title {
  margin-block-start: 105px;
  margin-inline-end: 20px;
  color: var(--description-title-color, #000028);
  inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  justify-self: end;
  font-family: var(--font-family, "IBM Plex mono", monospace);
  line-height: 23.4px;
  text-align: left;
  background-color: var(--description-color, #ff8dcb);
}

/* main */

.main {
  display: grid;
  gap: 80px;
  padding: 60px 20px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.section_list {
  display: grid;
  gap: 20px;
}

.section-content {
  display: grid;
  gap: 10px;
}

.what_section {
  gap: 20px;
}

.what_section_list {
  grid-template-columns: repeat(3, 1fr);
  grid-column-start: span 2;
}

.content-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--description-color, #ff8dcb);
}

.content-text-link:hover {
  border-bottom: 1px solid var(--link-color, #353430);
}

.content-text-link:focus {
  outline: none;
}

.content-text-link:focus-visible {
  outline: 1px solid var(--link-color, #353430);
}

.title {
  color: var(--section-title-color);
  font-family: var(--font-family, "IBM Plex mono", monospace);
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.paragraph_title {
  font-family: var(--font-family, "IBM Plex mono", monospace);
  background-color: var(--description-color, #ff8dcb);
  color: var(--description-title-color, #353430);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.sub_paragraph_title {
  font-family: var(--font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--description-color, #ff8dcb);
  color: var(--description-title-color);
}

.title-decor {
  margin-block-end: 20px;
  font-weight: 700;
}

.gallery-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: min(20px);
  grid-auto-flow: row dense;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.gallery-list__item:first-child,
.gallery-list__item:last-child {
  grid-column-start: span 2;
}

.gallery-list__item:nth-child(2),
.gallery-list__item:nth-child(3) {
  grid-row-start: span 2;
}

/* footer */

.footer {
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
}

.footer_decoration {
  font-family: var(--font-family, "IBM Plex mono", monospace);
  font-size: 157px;
  font-weight: 700;
  line-height: 129px;
  align-self: center;
  text-align: left;
  color: var(--decoration-color);
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.footer__decorated-zone {
  position: relative;
}

.footer__decorated-zone::before,
.footer__decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.footer__decorated-zone::before {
  border-inline-end: 1px solid var(--decorated-zone-color, #353430);
  border-block-start: 1px solid var(--decorated-zone-color, #353430);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.footer__decorated-zone::after {
  border-inline-start: 1px solid var(--decorated-zone-color, #353430);
  border-block-end: 1px solid var(--decorated-zone-color, #353430);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

@media (768px <=width < 1024px) {
  .header__theme-menu {
    justify-self: end;
    margin-block-start: 0;
    margin-inline-end: 20px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin-block-start: 190px;
  }

  .decoration {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-end: 10px;
  }

  .description_title {
    inline-size: clamp(360px, calc(100% / 2 - 10px), 364px);
    margin-block-start: 130px;
  }

  .section {
    gap: 20px;
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .what_title {
    width: clamp(236px, calc(100% / 3.25), 315px);
  }

  .how_section {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 2px;
  }

  .what_section_list {
    display: block;
  }

  .what_paragraph_content {
    padding-bottom: 20px;
  }

  .footer_decoration {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin: 58%;
  }
}

@media (375px <= width < 768px) {
  .header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto 1fr auto;
    gap: 55px;
    padding: 10px;
    block-size: max(100vb, 668px);
  }

  .description_title {
    inline-size: 355px;
    margin: 0;
  }

  .record-decor {
    gap: 10px;
    margin-block-start: -10px;
    margin-inline-end: -10px;
  }

  .header__theme-menu-list {
    margin-block-start: 60px;
    gap: 15px;
    flex-direction: column;
  }

  .header__theme-menu {
    margin-inline-end: 0;
    justify-self: end;
  }

  .decoration {
    justify-self: start;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 85%;
    margin: 0;
    margin-block-start: 10px;
  }

  .main {
    display: block;
    padding: 20px 0px 30px;
  }

  .section {
    padding: 20px 10px 0px 10px;
    display: block;
  }

  .section_list {
    gap: 0px;
  }

  .what_section {
    display: block;
    margin-block-start: 30px;
  }

  .what_section_list {
    display: block;
  }

  .what_title {
    width: 100%;
  }

  .how_section {
    margin-block-start: 30px;
  }

  .what_paragraph_content {
    padding-bottom: 0px;
  }

  .paragraph_title {
    margin-top: 20px;
  }

  .section_list-advices {
    display: grid;
    gap: 20px;
  }

  .title-decor {
    margin-top: 20px;
  }

  .paragraph_title_pictures {
    margin: 50px 10px 0;
  }

  .gallery-list {
    margin: 10px;
    display: block;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3),
  .gallery-list__item:nth-child(4),
  .gallery-list__item:nth-child(5) {
    padding-top: 10px;
  }

  .footer {
    min-height: 668px;
  }

  .footer_decoration {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
